footer {
    position:block;
    animation: foot 0.1s 3s ease forwards;
    width:auto;
    opacity:0;
    bottom:0;
    margin-top:100px;
    padding-left:30px;
    background:white;
    box-shadow: 0px 0px 10px #E5E7EB ;
}
@keyframes foot{
    0%{opacity:0;}
    100%{opacity:1;}
}