
body {font-family: "Fredoka", sans-serif;
    margin: 0;
    background-color: rgb(0, 0, 0);
    animation: bg-fade 2.5s forwards;
   
  scrollbar-width: none; 
  
 
  -ms-overflow-style: none; 



}&::-webkit-scrollbar {
  display: none;}
@keyframes bg-fade {
    60%{
        background-color: rgb(0, 0, 0);
    }
  100% { background-color: #FAF9F9;; }
  
}
.center-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
}

#csc-logo {z-index:999;
    display:block;
    user-select: none;
    pointer-events: none;
    width: 50vw;
    animation: entry 2.7s ease-out forwards;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}
@media(max-width:760px){
    #csc-logo{
      top:30%;
    }
}

@keyframes entry {
  0%     { width: 70vw; opacity: 0.1;
           filter: drop-shadow(50px 0px 80px rgba(255,255,251,0.9)); }
  6.25%  { filter: drop-shadow(50px 0px 80px rgba(255,255,251,0.9)); }
  12.5%  { filter: drop-shadow(35.4px 35.4px 80px rgba(255,255,251,0.9)); }
  18.75% { filter: drop-shadow(19.1px 46.2px 80px rgba(255,255,251,0.9)); }
  25%    { width: 50vw; opacity: 1;
           filter: drop-shadow(0px 50px 80px rgba(255,255,251,0.9)); }
  31.25% { filter: drop-shadow(-19.1px 46.2px 80px rgba(255,255,251,0.9)); }
  37.5%  { filter: drop-shadow(-35.4px 35.4px 80px rgba(255,255,251,0.9)); }
  43.75% { filter: drop-shadow(-46.2px 19.1px 80px rgba(255,255,251,0.9)); }
  50%    { filter: drop-shadow(-50px 0px 80px rgba(255,255,251,0.9)); }
  56.25% { filter: drop-shadow(-46.2px -19.1px 80px rgba(255,255,251,0.9)); }
  62.5%  { filter: drop-shadow(-35.4px -35.4px 80px rgba(255,255,251,0.9)); }
  68.75% { filter: drop-shadow(-19.1px -46.2px 80px rgba(255,255,251,0.9)); }
  75%    { filter: drop-shadow(0px -50px 80px rgba(255,255,251,0.9)); }
  81.25% { filter: drop-shadow(19.1px -46.2px 80px rgba(255,255,251,0.9)); }
  87.5%  { opacity: 1;
           filter: drop-shadow(35.4px -35.4px 80px rgba(255,255,251,0.9)); }
  93.75% { filter: drop-shadow(46.2px -19.1px 80px rgba(255,255,251,0.9)); }
  100%   { opacity: 0;
           filter: drop-shadow(50px 0px 80px rgba(255,255,251,0.9)); }
}

.recommend{position: fixed;
  color: white;
  opacity:0;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center; 
  margin: 0 auto 20px auto; 
  padding: 10px 0; 
  animation: reco 3s 0.5s ease forwards;
}
@keyframes reco {
  0%{opacity:1;
    transform:translateY(10%);
    
  }
  50%{display:block;translateY:0%;color:white;
    font-size:large;
  }
  90%{transform:translateY(0%);opacity: 1;font-size:large;}
  100%{color:#0F5449;
    opacity: 0;transform:translateY(80%);
    display: none;
  }
}